<table class="tab_cadre_fixe">
  <tbody>
    <tr class="tab_bg_1">
      <th width='13%'>ID Conta</th>
      <td width='29%'><input type="text" name="id_conta_field" value=""></td>
      <td colspan="2"></td>
    </tr>

    <tr class="tab_bg_1">
      <th width='3%'>Nome</th>
      <td width='29%'><input type="text" name="nome_field" value=""></td>
      <td colspan="2"></td>
    </tr>

    <tr class="tab_bg_1">
      <th width='3%'>CPF</th>
      <td width='29%'><input type="text" name="cpf_field" value=""></td>
      <td colspan="2"></td>
    </tr>

    <tr class="tab_bg_1">
      <th width='3%'>Produto</th>
      <td width='29%'><input type="text" name="produto_field" value=""></td>
      <td colspan="2"></td>
    </tr>

    <tr class="tab_bg_1">
      <th width='3%'>Telefone</th>
      <td width='29%'><input type="text" name="telefone_field" value=""></td>
      <td colspan="2"></td>
    </tr>

    <tr class="tab_bg_1">
      <th width='3%'>E-mail</th>
      <td width='29%'><input type="text" name="email_field" value=""></td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>
